body { background: #f69f19 url(/lions/games/images/bg.gif); }

#content { background: #fff url(/lions/games/images/content_bg.gif) no-repeat; }

#sidenav { background: url(/lions/games/images/sidenav_bg.gif) no-repeat; }